/.vscode/c_cpp_properties.json
*.daishitong
*/Listings/*
*/Objects/*.lnp
*/Objects/*.htm
*/Objects/*.obj
*/Objects/*.__i
/00.EmptyDemo/Objects/EmptyDemo
/01.Led_Blink/Objects/Led_Blink
/02.Key_Control_Led/Objects/Key_Control_Led
/03.Passive_Buzzer/Objects/Passive_Buzzer
/04.Serial/Objects/Serial
/05.Serial_Led/Objects/Serial_Led
/06.Ultrasound_Led/Objects/Ultrasound_Led
/07.Ultrasound_Serial/Objects/Ultrasound_Serial
/08.Servo_Control/Objects/Servo_Control
/09.DCMoto_Control/Objects/DCMoto_Control
/10.StepperMotor_Control/Objects/StepperMotor_Control
/101.DS1302_Serial
/102.Lcd1602
/103.Lcd12864
/200.DS24C02_Serial
/201.Servo_PCA9685
*.uvopt
/51demo.uvmpw
